.product__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__container {
  display: grid;
  align-items: center;
  gap: 20px;
  grid-template-columns: 1fr 1.5fr 1fr;
  background: white;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.14902);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: clamp(320px, 40vw, 500px);
  justify-content: space-between;
  z-index: 100;
  margin-left: 30px;
  transition: all 250ms ease-in-out;
  position: relative;
  overflow: hidden;
}

/* Product Container Scrolling  */

::-webkit-scrollbar {
  width: 7px;
  padding: 30px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* .product__container::before{
    content: '';
    position: absolute;
    width: 300%;
    height: 200%;
    border-radius: 10px;
    background: linear-gradient(rgba(202, 202, 202, 0.149), rgba(20, 20, 20, 0.081));
    animation: animate 9s linear infinite;
    z-index: -1;
}

.product__container::after{
    content: '';
    position: absolute;
    inset: 2px;
    border-radius: 10px;
    background: transparent;
    
    z-index: 2;
} */

.product__image img {
  width: 80px;
}

.product__body h2 {
  font-size: 1.1rem;
}

.product__body p {
  font-size: 14px;
}
.product__status {
  font-size: 12px;
}

.home__container {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.home__left {
  height: 100%;
  background: rgb(255, 72, 0);
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.bio {
  color: #f1f1f1;  
}


.home__right {
  height: 100%;
  padding: 20px;
  position: relative;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 1.1rem;
  margin-right: 3rem;
  margin-top: 2rem;
  color: orangered;
}

.title {
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.desc {
  width: 60%;
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
  color: white;
}
/* 
.product__body::before{
    content: '';
    position: absolute;
    width: 40%;
    height: 80%;
    background: white;
    z-index: 1;
    left: 36%;
    top: 10%;
} */

.classic {
  margin-top: 100px;
  height: 80vh;
  overflow-y: scroll;
}

.icon {
  font-size: 68px;
  font-weight: bold;
  color: yellow;
}

.product__container:hover {
  border: 2px solid orangered;
}

.home__main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.popup {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.938);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__body {
  background: white;
  width: 330px;
  padding: 30px;
  border-radius: 20px;
  position: relative;
}

.close {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  width: 30px;
  height: 30px;
  border: 2px soild black;
  padding: 10px;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.14902);
}

.close:hover {
  cursor: pointer;
}

.header {
  position: absolute;
  top: 2%;
  right: 10%;
}

.addtobtn {
  position: absolute;
  top: 2%;
  left: 10%;
}

.main__product {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.delete {
  border: none;
  background: none;
  cursor: pointer;
}
.delete:hover {
  transform: scale(1.15);
}
@media screen and (max-width: 768px) {
  .home__container {
    display: flex;
    flex-direction: column;
  }
  .home__left,
  .home__right {
    width: 100%;
  }
  .product__body::before {
    display: none;
  }
  .product__container {
    margin-left: 12px;
  }
  .icon {
    font-size: 36px;
  }
  .title {
    font-size: 18px;
  }
  .desc {
    font-size: 12px;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
  }
}
